###Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [74]:
import pandas as pd
import numpy as np

In [75]:
authors = pd.DataFrame({'author_id': [1, 2, 3], 'author_name': ['Turgenev', 'Chehov', 'Ostrovsky']}, 
                      columns = ['author_id', 'author_name'])

In [76]:
print(authors)

   author_id author_name
0          1    Turgenev
1          2      Chehov
2          3   Ostrovsky

In [77]:
books = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3],'book_title': ['Fathers and soons', 'Rudin', 'Dvorianskoe nest', 'Woman with a dog', 'Thunderstorm', 'Talents and fans', 
'Thick and thin'], 'price': [450, 300, 350, 500, 450, 370, 290]},
                     columns = ['author_id', 'book_title', 'price'])

In [78]:
print(books)

   author_id         book_title  price
0          1  Fathers and soons    450
1          1              Rudin    300
2          1   Dvorianskoe nest    350
3          2   Woman with a dog    500
4          2       Thunderstorm    450
5          3   Talents and fans    370
6          3     Thick and thin    290

###Задание 2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [79]:
authors_price = pd.merge(authors, books, on = 'author_id', how = 'outer' )

In [80]:
print(authors_price)

   author_id author_name         book_title  price
0          1    Turgenev  Fathers and soons    450
1          1    Turgenev              Rudin    300
2          1    Turgenev   Dvorianskoe nest    350
3          2      Chehov   Woman with a dog    500
4          2      Chehov       Thunderstorm    450
5          3   Ostrovsky   Talents and fans    370
6          3   Ostrovsky     Thick and thin    290

###Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [81]:
top5 = authors_price.nlargest(5, 'price')

In [82]:
print(top5)

   author_id author_name         book_title  price
3          2      Chehov   Woman with a dog    500
0          1    Turgenev  Fathers and soons    450
4          2      Chehov       Thunderstorm    450
5          3   Ostrovsky   Talents and fans    370
2          1    Turgenev   Dvorianskoe nest    350

###Задание 4 Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [83]:
authors_stat  = authors_price.groupby('author_name').agg({'price' : ['max', 'min', 'mean']})
authors_stat  = authors_stat.rename(columns={'max': 'max_price', 'min': 'min_price','mean': 'mean_price'})
print(authors_stat)

                price
            max_price min_price  mean_price
author_name
Chehov            500       450  475.000000
Ostrovsky         370       290  330.000000
Turgenev          450       300  366.666667

###Задание 5 Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [84]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
print(authors_price)

   author_id author_name         book_title  price    cover
0          1    Turgenev  Fathers and soons    450  твердая
1          1    Turgenev              Rudin    300   мягкая
2          1    Turgenev   Dvorianskoe nest    350   мягкая
3          2      Chehov   Woman with a dog    500  твердая
4          2      Chehov       Thunderstorm    450  твердая
5          3   Ostrovsky   Talents and fans    370   мягкая
6          3   Ostrovsky     Thick and thin    290   мягкая

In [85]:
book_info = pd.pivot_table(authors_price, values='price', index=['author_name'], columns=['cover'], aggfunc=np.sum)
book_info['мягкая'] = book_info['мягкая'].fillna(0)
book_info['твердая'] = book_info['твердая'].fillna(0)
print(book_info)

cover        мягкая  твердая
author_name
Chehov          0.0    950.0
Ostrovsky     660.0      0.0
Turgenev      650.0    450.0

In [88]:
book_info.to_pickle('book_info.pkl')

In [93]:
book_info2 = pd.read_pickle('book_info.pkl')
print(book_info2)

cover        мягкая  твердая
author_name
Chehov          0.0    950.0
Ostrovsky     660.0      0.0
Turgenev      650.0    450.0

In [94]:
book_info.equals(book_info2)

True